*{padding:0;margin: 0;font-size: 14px;font-family: "微软雅黑";color:rgb(153,153,153);}
body{  background: url("../img/login/login1.png") no-repeat;  background-attachment: fixed;  background-size: 100% 100%;  }
.login-create{padding:200px 500px;background: rgba(56, 56, 56, 0.6);border-radius: 5px;position: absolute;  top:50%;  left: 50%;  -webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);}
.register-create{padding:65px 450px;background: rgba(56, 56, 56, 0.6);border-radius: 5px;position: absolute;  top:50%;  left: 50%;  -webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);display: none;}
.container_login{background: rgb(60, 60, 60); width:430px;padding:40px 40px 60px 40px;border-radius: 10px;box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.2);}
.container_register{background: rgb(60, 60, 60); width:530px;padding:20px 40px 40px 40px;border-radius: 10px;box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.2);}
.log_pic{text-align: center;margin-bottom: 20px;}
.reg_pic{text-align: center;margin-bottom: 10px;}
.log_button{margin: 40px 0 20px;}
.form-group div:before{ content: '.';  opacity: 0; }
.form-group div{  font-size: 14px; font-weight: normal; }
.create_register .form-group div{  margin:0;}
.create_register .form-group div:before{ content: '.';  opacity: 0; }
.create_register .form-group div{  font-size: 14px; font-weight: normal; }
.lay_input-ver{width: 25%;height: 35px;line-height:35px;background: none;display: inline-block;text-align:center;font-family:Arial;
    font-style:italic;
    font-weight:bold;
    border:0;
    letter-spacing:2px;
    color:blue;
    user-select: none;}
#result{ margin-left: 16px; font-size: 12px; color: rgb(0,174,239); position: relative; cursor: pointer;}
.btn:hover{color:rgb(153,153,153);}

.error {border:1px solid #953b39;  }
.focus-input:focus {  border-color: #66afe9;  outline: 0;  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
.focus-input{color:#ccc;background: #2e3234;background: rgba(239,239,239,0.1);border:1px solid rgba(239,239,239,0.1)}

@media(min-width: 315px) and (max-width: 430px){
    .container_login{margin: 0 auto; width: 100%;}
    .login-create{padding: 3rem 2rem;width: 300px;}
}

@media(min-width: 315px) and (max-width: 530px){
    .container_register{margin: 25rem auto 0; width: 100%; }
    .register-create{padding: 3rem 2rem; width: 300px;}
}