@charset "utf-8";
/* CSS Document */
header,section,footer,aside,nav,article,figure
{
	display:block;
}
body{padding:0; margin:0; background:rgb(16,25,24);overflow-x:hidden;}

/*视频播放区域*/
.movie-playfield{    max-width: 1140px;width: 100%;position: relative;top: 50%;transform: translateY(-50%);max-height: 80%;padding: 0 2rem;margin: 0 auto;}
#youku-html5player-video{position: absolute;z-index: -1;width: 120%;height: auto;display: inline-block;top: 50%;left: 50%;transform: translate(-50%, -50%);visibility: visible; }
@media(min-width:768px){
#youku-html5player-video{display: block;}
.exch-pic{display: none;}
}
@media(min-width:450px) and (max-width:768px){
#youku-html5player-video{display: none;}
.exch-pic{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	display: block; width:100%; height:100%;
	background-image:url("http://cdn.c2engine.com/c2engine/img2/index/slider/slider_6_small.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-position:50%}
}
@media(min-width:315px) and (max-width:449px){
#youku-html5player-video{display: none;}
.exch-pic{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	display: block; width:100%; height:100%;
	background-image:url("http://cdn.c2engine.com/c2engine/img2/index/slider/slider_6_small.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-position:50%;}
}

.top-shift{display: block; overflow:hidden;position: absolute;z-index: -1;top:0;left:0;width: 100%;height: 100%;}
.top-slider{ width:100%;height: 100%;}
.single-item{height: 100%;}
@media(max-width: 768px){
.top-shift{display: none;}
}
/*视频上面浮动显示的文字*/
.top-pic{ width:100%;  background:#EFEFEF;}
.join-us{position:relative;padding:14.5% 0% 27.5%; left:0;overflow: hidden; width:100%;height: 0; color:#EFEFEF; text-align:center;background-image: url(http://cdn.c2engine.com/c2engine/img2/index/slider/slider_6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;}
.join-us .container li:nth-child(1){ font-size:2.36vw; margin-bottom:3.7vw; letter-spacing:3px;text-align: center;}
.join-us .container li:nth-child(2){ font-size:1.96vw; line-height:1.1vw; color:#EFEFEF;text-align: center;margin-bottom: 1.45vw;}
.join-us .container li:nth-child(3){ font-size:0.91vw; line-height:1.18vw; color:#EFEFEF;text-align: center;margin-bottom: 3.6vw;}
.join-us .container ul{ list-style:none;padding:0; margin:0;margin-top:54px; display:block;}
.join-us .container ul li{ list-style:none; display:inline-block;}
.join-us .container ul li:nth-child(1) span{ font-size:24px; background:rgb(0,173,239); padding:12px 38px 12px 42px; border-radius:5px; }
.join-us .container ul li:nth-child(1){}
.join-us .container ul li:nth-child(1) a{ font-size:24px; color: #EFEFEF;}
.join-us .container ul li:nth-child(2){opacity: 0.8; padding-left: 30px; font-size:18px; cursor: pointer;}
.join-us .container ul li:nth-child(2) span{ display:inline-block; width:32px; height:32px;vertical-align:middle; margin-right:16px; background-image:url(http://cdn.c2engine.com/c2engine/img2/partimg.png); background-repeat:no-repeat;background-position:-187px 0;}
.join-us .container ul li:nth-child(2):hover{opacity: 1;color:#EFEFEF;}


/*
//微博扫码
#weibo{z-index: 2000; width: 40px; height: 40px; position:fixed; right: 0px; top:50%;background:rgba(33,36,41,0.6);cursor: pointer; }
#weibo span{display: inline-block;margin-left:0px; margin-top: 0px; width: 40px; height:40px;background:url(http://cdn.c2engine.com/c2engine/img2/index/weixin.png);background-size:40px 40px; }
#weibo p{width: 20px;font-family: 'SimSun';font-size: 16px;font-weight: bold;line-height: 20px; color: #EFEFEF; margin-left:12px; margin-top: 6px; }
//二维码
#qrcode{z-index: 2000; width: 116px; height: 121px;position:fixed;text-align: center; right:40px; margin-top:-81px;top:45%;display:none; }
#qrcode span{display: inline-block;position: absolute;right: 10px; width: 16px;height: 16px;background:url(http://cdn.c2engine.com/c2engine/img2/partimg.png);background-repeat: no-repeat;background-position: -251px 0;cursor: pointer; }
.clickin{font-family: 'SimSun';font-size: 14px;color: rgb(0,174,239);font-weight: bold;padding-top: 9px; }
.clickin a{font-family: 'SimSun';font-size: 14px;color: rgb(0,174,239);text-decoration:none;}
.clickin a:hover{color: rgb(0,174,239);text-decoration:none;}
.incode{ width: 111px; height: 121px;text-align: center;padding-top: 7px; background: #EFEFEF;float:left; }
.incode div{ font-family: 'SimSun';font-size: 12px; }
.incode img{width:96px;height:96px;}
.rightcode{ width: 5px; height: 121px;padding-top: 100px;float:left;}
.rightcode img{ width: 5px; height: 5px;}
@media(min-width: 1200px){
#weibo{top:45%;}
#qrcode{margin-top:-81px;top:45%;}
}
@media(min-width: 450px)and (max-width: 1199px){
#weibo{top:45%;}
#qrcode{margin-top:-81px;top:45%;}
}
@media(max-width:449px){
#weibo{top:45%;}
#weibo p{width: 20px;font-family: 'SimSun';font-size: 14px;font-weight: bold;line-height: 18px; color: #EFEFEF; margin-left:12px; margin-top: 12px; }
#qrcode{margin-top:-81px;top:45%;}
}

/*向下箭头*/
.round-pos{ margin-bottom:50px;}
.round-pos li{margin:0 5px 0 5px; background:rgb(204,204,204); border-color:rgb(204,204,204);} 
.glyphicon-chevron-down{color:#000000; width:40px; height:40px; text-align:center; line-height:40px; background:#EFEFEF; border-radius:20px; padding-left:2px; padding-top:2px;}
.glyphicon-chevron-down:hover{ color:rgb(0,147,239); width:40px; height:40px; text-align:center; line-height:40px; background:#EFEFEF; border-radius:20px; padding-left:2px; padding-top:2px;}
.aaas{ z-index:2000; display:block; position:absolute; width:40px;height:40px; left: 50%; margin-left: -20px;margin-top:-20px; display:block; border-radius:20px; cursor: pointer;background:#fff;line-height: 40px;font-size: 20px;text-align: center;}
@media(max-width: 768px){
.aaas{display:none; }
}

.down_new {
    font-size: 1.08vw;
    margin-top: -1px;
}
.down_new a {
    color: #EFEFEF;
    background-color: #00aeee;
    padding: 0.6vw 2.46vw 0.7vw;
    border-radius: 5px;
}
.down_new a:hover, li a:focus {
    color: rgb(239, 239, 239);
    text-decoration: none;
    cursor: pointer;
}

@media(max-width: 450px){
    .down_new {
        font-size: 15px;
        margin-top: -1px;
    }
    .down_new a {
    padding: 1.6vw 5.46vw 1.7vw;
}
}

/*
.campus-job{ width:100%;    margin-top: 10px;}
.job-part{background:rgb(231,231,231); margin-top:70px; padding-bottom:66px;}
.er-code{width:20vw;height:20vw; background-image:url(http://cdn.c2engine.com/c2engine/img2/index/triangle.png);
background-repeat:no-repeat; background-size:100%;
	/*
	border-bottom:20vw solid rgb(0,174,239);
	border-left:20vw solid transparent !important;

	position:absolute; margin-top:-20vw; right:0px;}
.code-font{font-family:Arial, 'Microsoft YaHei';color:#EFEFEF;font-size:2vw;font-weight:bold;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
-ms-transform:rotate(-45deg);
transform:rotate(-45deg);
position:absolute; margin-top:-10vw; right:3.5vw;}
.code-pic{ width:6.5vw; height:6.5vw; position:absolute; margin-top:-7.5vw; right:1vw;}
@media(max-width:559px){
.er-code{display:none;}
.code-font{display:none;}
.code-pic{display:none;}	
}
@media( max-width: 991px){
.movupp{ margin-top: -20px; }
}
*/
/*选择C²engine的理由*/
.pic-common-ul{margin-bottom: -62px;}
.pic-common-li{display: inline-block;width: 33%;padding-left: 16px;padding-right: 16px;padding-bottom: 32px;}
.pic-common {position: relative;overflow: hidden;margin-bottom: 30px;border-radius: 6px;}
.pic-common  img{cursor: pointer;}
.pic-common p{font-size: 20px; position:absolute; bottom:0; text-align:center; width: 100%; text-shadow:1px 1px 0px #000000; color: #EFEFEF;font-weight:bold;}
.begin-use{ width:100%; padding-top:100px; padding-bottom:60px;}
.common-div-use{width:100%; padding-top:20px; padding-bottom:20px;text-align: center;}
.show-more-content-auto{position: absolute;left:0;width: 100%; padding:10px;
	background:	rgba(0,0,0,0.7);
    background: -webkit-radial-gradient(50% 50%,closest-side,rgba(0,0,0,0),rgba(0,0,0,0.7));
    background: -o-radial-gradient(50% 50%,closest-side,rgba(0,0,0,0),rgba(0,0,0,0.7));
    background: -moz-radial-gradient(50% 50%,closest-side,rgba(0,0,0,0),rgba(0,0,0,0.7));
    background: radial-gradient(50% 50%,closest-side,rgba(0,0,0,0),rgba(0,0,0,0.7));
}
.show-more-content-auto span{color: #EFEFEF;font-size: 15px;}


#features{cursor: pointer;}
#features p{position: absolute;bottom: 10%;width: 100%;text-align: center;font-size: 30px;color: white;}
@media(max-width:1000px ){
	.pic-common-li{display: inline-block;width: 49%;padding: 16px;}
}
@media(max-width:570px){
	.pic-common-li{display:block;width: 100%;padding: 0px;}
}
/*案例展示*/
#index-show{background-color: #22272a;}
#index-show li{color:#EFEFEF;}
.slick-prev{left: 40px;width: 3vw;height: 3vw;}
.slick-next{right: 40px;width: 3vw;height: 3vw;}
.slick-prev:before, .slick-next:before {font-size: 3vw;line-height: 3vw;}
#features div{position: relative;}
.c2-slick-prev{left: 40px;width: 3vw;height: 3.2vw;background: url("http://cdn.c2engine.com/c2engine/img2/index/plandisplay/left_arrow.png") no-repeat;position: absolute;top: 50%;z-index: 1;background-size: 100%;border: medium none;}
.c2-slick-next{right: 40px;width: 3vw;height: 3.2vw;background: url("http://cdn.c2engine.com/c2engine/img2/index/plandisplay/right_arrow.png") no-repeat;position: absolute;top: 50%;z-index: 1;background-size: 100%;border: medium none;}
.c2-slick-prev:hover,.c2-slick-prev:focus{background: url("http://cdn.c2engine.com/c2engine/img2/index/plandisplay/left_arrow_highlight.png") no-repeat;background-size: 100%;outline: none;}
.c2-slick-next:hover,.c2-slick-next:focus{background: url("http://cdn.c2engine.com/c2engine/img2/index/plandisplay/right_arrow_highlight.png") no-repeat;background-size: 100%;outline: none;}

/*开发者*/
.developer-title{font-size: 24px; color:#EFEFEF;text-align: center; font-weight: bold;margin-bottom: 25px;}
.developer-select-ul{text-align: center;}
.developer-select-li{display: inline-block;width: 33%}
.developer-select-li:nth-child(1){text-align: left;}
.developer-select-li:nth-child(2){text-align: center;}
.developer-select-li:nth-child(3){text-align: right;}
.developer-select-div{position: relative;overflow: hidden;display: inline-block;}
.developer-select-div p {position: absolute; bottom:5%;width: 100%;font-size: 25px;font-weight: bold;text-align: center;}
@media(max-width: 1350px){
	.developer-select-li{width: 32%;}
	.developer-select-div{margin: 10px;}
}
@media(max-width: 750px){
	.developer-select-li{width: auto;max-width: 100%;}
}
/* 快捷入口 */
#tutorial-entry div{overflow: hidden;}
#interactive-entry div{overflow: hidden;}
#cooperation-entry div{overflow: hidden;}
.show-more-content{position: absolute;top:100%;left:0;width: 100%;height: 100%;background: rgba(0,0,0,0.7);}
.show-more-content p{width: 80%;margin: auto;padding: 0;color: #EFEFEF;font-size: 16px;position: absolute;left: 5%;bottom: 33%;text-align: left;}
.show-more-content span{padding: 5px 23px;background: #5C96E8;margin-top: 20px;color: #EFEFEF;font-size: 25px;position: absolute;left: 5%;bottom: 10%;}
.show-more-content span a{color:#EFEFEF;}
.show-more-content span a:hover,.show-more-content span a:focus{text-decoration: none;}
#tutorial-entry img{width: 100%;}
#interactive-entry img{width: 100%;}
#cooperation-entry img{width: 100%;}
#tutorial-entry > div > div > p {width:200px;position: absolute;bottom:5% ; color: #EFEFEF; font-size: 20px;left: 50%;margin-left:-100px;text-align:center;text-shadow: 1px 1px 0px #000;font-weight: bold;}
#interactive-entry > div > div > p {width:200px;position: absolute;bottom:5% ; color: #EFEFEF; font-size: 20px;left: 50%;margin-left:-100px;text-align:center;text-shadow: 1px 1px 0px #000;font-weight: bold;}
#cooperation-entry > div > div > p {width:200px;position: absolute;bottom:5% ; color: #EFEFEF; font-size: 20px;left: 50%;margin-left:-100px;text-align:center;text-shadow: 1px 1px 0px #000;font-weight: bold;}
@media(max-width:1140px){
#features p{font-size: 22px;}
}
@media(max-width: 900px){
	.show-more-content p{font-size: 14px;}
	.show-more-content span{font-size: 20px;}
}
@media(max-width: 800px){
	.show-more-content p{font-size: 12px;}
}
@media(max-width: 750px){
	.show-more-content p{font-size: 14px;}
	.pic-common p{font-size:16px;}
	.pic-common span{font-size:14px;}
	#features p{font-size: 16px;}
	.konw-more{font-size: 14px;}
}

/* 行业资讯 */
.industry-information-title{
	color:#000;
}
.industry-information-bg{
	background-color: #EFEFEF;
}
.industry-information-ul{
	padding: 0;
}
.industry-information-li{
	padding: 0 15px;float: none;border-bottom:1px solid #E2E2E2;
}
.industry-information-li:first-child{
	border-top:1px solid #E2E2E2;
}
.industry-list-li-img{
	width: 25%;height: 100%;float: left;text-align: left;
}
.industry-list-li-img img{max-width: 100%}
.industry-list-ul{
	overflow: hidden;padding: 15px 0;border-top:;vertical-align: middle;
}
.industry-list-li-txt{
	width: 60%;height: 100%;float: left;vertical-align: middle;text-align: center;padding-left: 20px;
}
.industry-list-li-button{
	width: 15%;height: 100%;float: left;vertical-align: middle;margin-top:65px;text-align: right;
}
.industry-list-li-button a{
	padding: 10px 35px;background-color:rgb(29,175,236); color:#EFEFEF; border:none;border-radius: 5px;cursor: pointer;
}
.industry-list-li-button a:focus,.industry-list-li-button a:hover{
	box-shadow: 0 3px 10px rgb(29,175,236);color:#EFEFEF;
}
.industry-txt-li-title h1{
	text-align: left;color:#414E57;font-size: 20px;
}
.industry-txt-li-time p{
	text-align: left;color:#414E57;
}
.industry-txt-li-content p{
	text-align: left;color:#414E57;overflow: hidden;text-overflow:ellipsis;margin-top: 15px; letter-spacing: 0.5px;
}
@media(max-width: 1000px){
	.industry-list-li-txt{width: 55%;}
	.industry-list-li-button{width:20%;}
}
@media(max-width: 880px){
	.industry-list-li-img{width: 100%;text-align: center;}
	.industry-list-li-txt{width: 100%}
	.industry-list-li-button{width: 100%;text-align:center;margin-top: 40px;margin-bottom: 25px;}
	.industry-txt-li-title h1{text-align: center;margin-top: 20px;}
}


/*弹出图片*/
.layout-ng{z-index:4000;display:none;position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.9) !important;background:#000000;filter:Alpha(opacity=100);}
.lay-pic{z-index:4100;display:block;margin:0 auto;position:relative;width:48vw;margin-top:15vh;;cursor: pointer;}
#lay-font{z-index:4100;margin:0 auto;position:relative;width:40vw;margin-top:3vw;color:#EFEFEF;text-align:center;}
#lay-font h3{ line-height:40px;}
#lay-font p{color:#CCCCCC; width:40vw; margin:0 auto;}
#close-pic{position:fixed;top:2vw;right:2vw;color:#CCCCCC;font-size:2vw;cursor: pointer;}
#close-pic:hover{color:#EFEFEF;cursor: pointer;}
/*弹出视频*/
.pout-ng{z-index:4000;display:none;position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.90) !important;background:#000000;filter:Alpha(opacity=90);}
.pmov{z-index:4100;display:block;margin:0 auto;position:relative;width:48vw;margin-top:15vh;;cursor: pointer;}
#ykbf{height: 400px;}
#close-mov{position:fixed;top:2%;right:2%;color:#CCCCCC;font-size:1vw;cursor: pointer;}
#close-mov:hover{color:#EFEFEF;cursor: pointer;}



.use-rol{ width:100%; height:300px; text-align:center; background:#EFEFEF; padding-top:48px; margin-bottom:25px;}
.use-rol ul{ list-style:none; padding:0; margin:0; }
.use-rol ul li{ list-style:none;}
.use-rol ul li:nth-child(2){font-size:14px; color:rgb(49,48,49);font-weight:bold; margin-top:28px;}
.use-rol ul li:nth-child(3){font-size:12px; color:rgb(153,153,153);font-weight:bold; margin-top:12px;}
footer{width:100%;height:104px; background:rgb(16,16,16);font-weight:bold; font-size:12px;}
footer ul{ list-style:none; float:left; padding:0; margin:0; width:100%;}
footer ul li{ list-style:none; float:left; margin-right:33px; margin-top:40px; color:rgb(118,118,118);}
/*bootstrap属性*/
.col-lg-6{padding:10px;}
.col-lg-12{padding:10px;}
.row{padding:20px 5px 20px 5px;text-align: center;}

@media(min-width:1800px){
.lay-pic{z-index:4100;display:block;margin:0 auto;position:relative;width:48vw;margin-top:16vh;;cursor: pointer;}
#lay-font{z-index:4100;margin:0 auto;position:relative;width:55vw;margin-top:2vw;color:#EFEFEF;text-align:center;}
.pmov{z-index:4100;display:block;margin:0 auto;position:relative;width:48vw;margin-top:16vh;;cursor: pointer;}


}
@media(min-width:1500px) and (max-width:1799px){
.lay-pic{z-index:4100;display:block;margin:0 auto;position:relative;width:48vw;margin-top:15vh;;cursor: pointer;}
#lay-font{z-index:4100;margin:0 auto;position:relative;width:40vw;margin-top:2vw;color:#EFEFEF;text-align:center;}
.pout-ng{z-index:4000;display:none;position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.95) !important;background:#000000;filter:Alpha(opacity=95);}
.pmov{z-index:4100;display:block;margin:0 auto;position:relative;width:48vw;margin-top:15vh;;cursor: pointer;}

}
@media(min-width:1140px) and (max-width:1199px){
.lay-pic{z-index:4100;display:block;margin:0 auto;position:relative;width:55vw;margin-top:16vh;;cursor: pointer;}
#lay-font{z-index:4100;margin:0 auto;position:relative;width:46vw;margin-top:2vw;color:#EFEFEF;text-align:center;}
.pmov{z-index:4100;display:block;margin:0 auto;position:relative;width:55vw;margin-top:16vh;;cursor: pointer;}

}
@media(min-width:992px) and (max-width:1199px){
.lay-pic{z-index:4100;display:block;margin:0 auto;position:relative;width:55vw;margin-top:16vh;;cursor: pointer;}
#lay-font{z-index:4100;margin:0 auto;position:relative;width:46vw;margin-top:2vw;color:#EFEFEF;text-align:center;}
.pmov{z-index:4100;display:block;margin:0 auto;position:relative;width:55vw;margin-top:16vh;;cursor: pointer;}
}

@media(min-width:769px) and (max-width:991px){
.row{padding:0 5px;}
.lay-pic{z-index:4100;display:block;margin:0 auto;position:relative;width:65vw;margin-top:16vh;;cursor: pointer;}
#lay-font{z-index:4100;margin:0 auto;position:relative;width:58vw;margin-top:2vw;color:#EFEFEF;text-align:center;}
.pmov{z-index:4100;display:block;margin:0 auto;position:relative;width:65vw;margin-top:16vh;;cursor: pointer;}
/*.join-us .container li:nth-child(1) {font-size: 45px;margin-bottom: 60px;}
.join-us .container li:nth-child(2) {font-size: 37px;}
.join-us .container li:nth-child(3) {font-size: 17px;}*/
.feture li:nth-child(1) {font-size: 22px;font-weight: bold;}
.feture li:nth-child(2) {font-size: 14px;}
}

@media(min-width:654px) and (max-width:768px){
.row{padding:0 5px;}
.item{ height:auto; overflow:hidden; background:red; margin-top:-20px;}
.lay-pic{z-index:4100;display:block;margin:0 auto;position:relative;width:55vw;margin-top:10vh;;cursor: pointer;}
#lay-font{z-index:4100;margin:0 auto;position:relative;width:56vw;margin-top:2vw;color:#EFEFEF;text-align:center;}
#lay-font p{ width:60vw;}
.pmov{z-index:4100;display:block;margin:0 auto;position:relative;width:55vw;margin-top:10vh;;cursor: pointer;}
#ykbf{height: 350px;}
}
@media(min-width:768px){
.row{padding:0 5px;}
}
@media(min-width:450px) and (max-width:768px){
.row{padding:0 5px;}
.glyphicon-play{ position:relative; float:left; background:#EFEFEF; width:36px; height:36px; line-height:36px; margin-top:6px; text-align:center; border-radius:18px; margin-left:40px; margin-right:12px;}
.feture{width:80%;}
}
@media(min-width:315px) and (max-width:449px){
.row{padding:0 5px;}
}
/*@media(min-width:450px) and (max-width:1000px) {*/
    /*.join-us{padding:9% 0%;}*/
/*}*/
/*@media(min-width:1000px) and (max-width:1500px) {*/
    /*.join-us{padding:14% 0%;}*/
/*}*/
/*@media(min-width:1500px) and (max-width:1800px) {*/
    /*.join-us{padding:14% 0%;}*/
/*}*/

@media(min-width:450px) and (max-width:768px){
#youku-html5player-video{display: none;}
/*.join-us{padding: 7rem 2rem 7rem;}*/
/*.join-us .container li:nth-child(1) {width: 94%;margin-right:auto;margin-left:auto;font-size: 32px;line-height: 46px;margin-bottom: 22px;margin-top: 30px;letter-spacing: 3px;}
.join-us .container li:nth-child(2) {margin-right:auto;margin-left:auto;margin-bottom: 15px; font-size:28px; line-height:23px; color:#EFEFEF;}
.join-us .container li:nth-child(3) {font-size: 14px;line-height: 21px;color: #EFEFEF;text-align: center;margin-bottom: 85px;}*/
.join-us .container ul{ list-style:none;padding:0; margin:0;margin-top:54px; display:block;}
.join-us .container ul li{ list-style:none; display:inline-block;}
.join-us .container ul li:nth-child(1) span{font-size:24px; background:rgb(0,173,239); padding:12px 38px 12px 42px; border-radius:5px;}
.join-us .container ul li:nth-child(1){font-size:24px; background:rgb(0,173,239);}
.join-us .container ul li:nth-child(1) a{font-size:24px; color: #EFEFEF;}
.join-us .container ul li:nth-child(2){opacity: 0.8; padding-left: 30px;font-size:18px; cursor: pointer;}
.join-us .container ul li:nth-child(2) span{margin-right:12px;}
.join-us .container ul li:nth-child(2):hover{opacity: 1;color:#EFEFEF;}
.glyphicon-play{ position:relative; float:left; background:#EFEFEF; width:36px; height:36px; line-height:36px; margin-top:6px; text-align:center; border-radius:18px; margin-left:20px; margin-right:0px;}
}
@media(min-width:450px) and (max-width:650px){
.youku-html5player-video{display: none;}
/*.join-us{padding: 7rem 2rem 7rem;}*/
.join-us .container li:nth-child(1) {width: 94%;}
}
@media(min-width:361px) and (max-width:550px){
.join-us{padding: 7rem 2rem 7rem;background-image: none;height: initial;}
#youku-html5player-video{display: none;}
.lay-pic{z-index:4100;display:block;margin:0 auto;position:relative;width:70vw;margin-top:16vh;;cursor: pointer;}
#lay-font{z-index:4100;margin:0 auto;position:relative;width:60vw;margin-top:2vw;color:#EFEFEF;text-align:center;}
#lay-font p{ width:60vw;}
.pmov{z-index:4100;display:block;margin:0 auto;position:relative;width:100vw;margin-top:16vh;;cursor: pointer;}
#ykbf{height: 280px;}
}
@media(min-width: 315px) and (max-width: 449px){
.join-us{padding: 7rem 2rem 7rem;background-image: none;}
.youku-html5player-video{display: none;}
#close-pic {font-size: 7vw;}
}
@media(max-width:360px){
.join-us{padding: 7rem 2rem 7rem;background-image: none;height: initial;}
#youku-html5player-video{display: none;}
.lay-pic{z-index:4100;display:block;margin:0 auto;position:relative;width:70vw;margin-top:16vh;;cursor: pointer;}
#lay-font{z-index:4100;margin:0 auto;position:relative;width:60vw;margin-top:2vw;color:#EFEFEF;text-align:center;}
#lay-font p{ width:60vw;}
.pmov{z-index:4100;display:block;margin:0 auto;position:relative;width:100vw;margin-top:16vh;;cursor: pointer;}
#ykbf{height: 280px;}
.glyphicon-play{ position:relative; float:left; background:#EFEFEF; width:36px; height:36px; line-height:36px; margin-top:6px; text-align:center; border-radius:18px; margin-right:0px;}

}
@media(min-width:315px) and (max-width:359px){
#youku-html5player-video{display: none;}
.lay-pic{z-index:4100;display:block;margin:0 auto;position:relative;width:90vw;margin-top:16vh;;cursor: pointer;}
#lay-font{z-index:4100;margin:0 auto;position:relative;width:90vw;margin-top:2vw;color:#EFEFEF;text-align:center;}
#lay-font p{ width:80vw;}
}
@media(min-width: 385px) and (max-width:449px){
#youku-html5player-video{display: none;}
.join-us .container li:nth-child(1) {width: 86%;margin-right:auto;margin-left:auto;font-size: 26px;line-height: 46px;margin-bottom: 40px;letter-spacing: 1px;}
.join-us .container li:nth-child(2) {width: 90%;margin-right:auto;margin-left:auto;margin-top: 10px;font-size:21px; line-height:23px; color:#EFEFEF;}
.join-us .container li:nth-child(3) {
        font-size: 16px;
        line-height: 21px;
        color: #EFEFEF;
        text-align: center;
        margin-bottom: 85px;}
.join-us .container ul{ list-style:none;padding:0; margin:0;margin-top:54px; display:block;}
.join-us .container ul li{ list-style:none; float: none; display:inline-block; width: 90%;}
.join-us .container ul li:nth-child(1){ width: 90%; }
.join-us .container ul li:nth-child(1) span{     display: inline-block;width:100%;font-size:24px; background:rgb(0,173,239); padding:12px 38px 12px 42px !important; border-radius:5px;}

.join-us .container ul li:nth-child(1) a{font-size:24px; color: #EFEFEF;}
.join-us .container ul li:nth-child(2){opacity: 0.8; padding-left: 0px;font-size:18px; cursor: pointer;margin-top: 40px;}
.join-us .container ul li:nth-child(2) span{ margin-right: 12px; }
.join-us .container ul li:nth-child(2):hover{opacity: 1;color:#EFEFEF;}
.feture {width: 100%;}
.feture li:nth-child(1) {font-size: 20px;}
.feture li:nth-child(2) {font-size: 12px;}
.lay-pic {width: 90vw;margin-top: 15vh;}
#lay-font {width: 80vw;}
#lay-font h3{ font-size: 18px; }
#lay-font p{ width: 80vw; font-size: 12px; }
.pmov {width: 100vw;margin-top: 30vh;}
}
@media(min-width: 336px) and (max-width:384px){
#youku-html5player-video{display: none;}
.join-us .container li:nth-child(1) {margin-right:auto;margin-left:auto;font-size: 26px;line-height: 36px;margin-bottom: 40px;letter-spacing: 2px;text-align: center;}
.join-us .container li:nth-child(2) {margin-right:auto;margin-left:auto;font-size: 21px;line-height: 22px;color: #EFEFEF;margin-top: 10px;text-align: center;}
.join-us .container li:nth-child(3) {
        font-size: 16px;
        line-height: 21px;
        color: #EFEFEF;
        text-align: center;
        margin-bottom: 85px;}
.join-us .container ul{ list-style:none;padding:0; margin:0;margin-top:54px; display:block;}
.join-us .container ul li{ list-style:none; float: none; display:inline-block; width: 90%;}
.join-us .container ul li:nth-child(1) span{ display: inline-block; width: 100%;font-size:24px; background:rgb(0,173,239); padding:12px 38px 12px 42px; border-radius:5px;}
.join-us .container ul li:nth-child(1){}
.join-us .container ul li:nth-child(1) a{font-size:24px; color: #EFEFEF;}
.join-us .container ul li:nth-child(2){opacity: 0.8; padding-left: 0px; font-size:18px; cursor: pointer;margin-top: 40px;}
.join-us .container ul li:nth-child(2) span{ margin-right: 12px; }
.join-us .container ul li:nth-child(2):hover{opacity: 1;color:#EFEFEF;}
.feture {width:100%;}
.feture li:nth-child(1) {font-size: 20px;}
.feture li:nth-child(2) {font-size: 12px;}
}
@media(min-width: 315px) and (max-width:335px){
#youku-html5player-video{display: none;}
.join-us .container li:nth-child(1)  {width: 92%;margin-right:auto;margin-left:auto;font-size: 22px;line-height: 36px;margin-bottom: 40px;letter-spacing: 5px;text-shadow: 0px 0px 4px #000000;}
.join-us .container li:nth-child(2) {width: 90%;margin-right:auto;margin-left:auto;font-size: 12px;line-height: 22px;color: #EFEFEF;margin-top: 10px;}
.join-us .container ul{ list-style:none;padding:0; margin:0;margin-top:54px; display:block;}
.join-us .container ul li{ list-style:none; float: none; display:inline-block; width: 90%;}
.join-us .container ul li:nth-child(1) span{ display: inline-block; width: 100%; font-size:24px; background:rgb(0,173,239); padding:12px 38px 12px 42px; border-radius:5px;}
.join-us .container ul li:nth-child(1){}
.join-us .container ul li:nth-child(1) a{font-size:24px; color: #EFEFEF;}
.join-us .container ul li:nth-child(2){opacity: 0.8; padding-left: 0px; font-size:18px; cursor: pointer;margin-top: 40px;}
.join-us .container ul li:nth-child(2) span{ margin-right: 12px; }
.join-us .container ul li:nth-child(2):hover{opacity: 1;color:#EFEFEF;}
.feture {width: 100%; }
.feture li:nth-child(1) {font-size: 20px;}
.feture li:nth-child(2) {font-size: 12px;}
}

@media(min-width: 450px) and (max-width:767px){
.feture li:nth-child(1) {font-size: 20px;}
.feture li:nth-child(2) {font-size: 14px;}
.lay-pic {width: 40vw;margin-top: 15vh;}
#lay-font {width: 90vw;}
#lay-font h3{ font-size: 16px; }
#lay-font p{ width: 90vw; font-size: 12px; }
.pmov {width: 80vw;margin-top: 30vh;}
#close-pic {
    font-size: 5vw;
}
}
@media(min-width:450px) and (max-width:768px){
.lay-pic{ width: 40%; }
#lay-font{width: 100%; padding: 4px 10px 0px 10px; }
#lay-font h3{ font-size: 20px; letter-spacing: 3px; margin-bottom: 0; }
#lay-font p{width: 100%; padding: 0px 15px 0px 15px;    font-size: 12px;
    line-height: 21px;
    letter-spacing: 2px; }
}
@media(min-width:315px) and (max-width:449px){
.lay-pic{ width: 90%; }
#lay-font{width: 100%; padding:20px 10px 0px 10px; }
#lay-font h3{ font-size: 22px; letter-spacing: 3px; }
#lay-font p{width: 100%; padding: 0px 15px 0px 15px;    font-size: 12px;
    line-height: 21px;
    letter-spacing: 2px; }
}
